@charset "utf-8";
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 29.01%,rgba(255,255,255,1.00) 58.55%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 29.01%,rgba(255,255,255,1.00) 58.55%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 29.01%,rgba(255,255,255,1.00) 58.55%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 29.01%,rgba(255,255,255,1.00) 58.55%,rgba(0,0,0,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(106,105,105,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(106,105,105,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(106,105,105,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(106,105,105,1.00) 100%);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #FBA200;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-image: url(url);
    background-color: #000000;
    color: #FCB001;
}
#accordion1 .card #headingOne1 {
    background-color: #000000;
}
#accordion1 .card #headingTwo1 {
    background-color: #000000;
}
#accordion1 .card #headingThree1 {
    background-color: #000000;
}
#headingOne1 .mb-0 a {
    color: #FFB204;
}
#headingTwo1 .mb-0 a {
    color: #FFB204;
}
#headingThree1 .mb-0 a {
    color: #FFB204;
}
.container-fluid .container footer {
    color: #FFFFFF;
}
